* {
	margin: 0px;
	padding: 0px;
	font-family: Inconsolata;
	/* outline: 2px solid red; */
}

:root {
	--orange: #FF9C00;
}

@font-face{
	font-family: MonumentValley;
	src: url("./fonts/monument_valley.otf")
}

@font-face{
	font-family: RobotoBold;
	src: url("./fonts/Roboto-Bold.ttf")
}

@font-face{
	font-family: Inconsolata;
	src: url("./fonts/Inconsolata.ttf")
}

body {
	display: grid;
	grid-template: 17vh 83vh / 20vw 80vw;
	grid-template-rows: min(300px, 17vh) calc(100vh - calc(min(300px, 17vh)));
	grid-template-columns: min(350px, 20vw) calc(100vw - calc(min(350px, 20vw)));
}

body > .sidebar {
	grid-row: 1 / 3;
	background: #0ea5e9;
	color: #f0f9ff;
	display: flex;
	flex-direction: column;
	gap: 48px;
}

.sidebar .logo {
	display: flex;
	align-items: center;
	gap: 16px;
	padding: 16px;
	font-size: 48px;
	font-weight: 800;
	font-family: MonumentValley, Helvetica, sans-serif;
}

.navigation,
.admin {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.admin {
	margin-top: 16px;
}

.admin > *,
.navigation > * {
	display: flex;
	align-items: center;
	gap: 24px;
	font-family: Inconsolata, RobotoBold, sans-serif;
	font-weight: 700;
	font-size: 1.3rem;
}

.sidebar img {
	width: 35px;
	height: 35px;
	margin-left: 50px;
}

.logo img {
	width: 100px;
	height: 100px;
	margin: 0px;
}

body > .header {
	display: flex;
	align-items: center;
	background: #F0F9FF;
}

.header > .left {
	margin-left: 48px;
}

.search-container {
	display: flex;
	gap: 16px;
	align-items: center;
	margin-bottom: 32px;
}

.search-container img {
	width: 30px;
	height: 30px;
}

.search-container div {
	width: 32vw;
	height: 40px;
	background: #cbd5e1;
	border-radius: 20px;
}

.profile-container {
	display: flex;
	align-items: center;
}

.profile-container .text {
	font-family: Inconsolata, sans-serif;
	font-weight: 800;
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.profile-container .username {
	font-size: 1.8rem;
}

.profile-container img {
	width: 80px;	
	height: 80px;	
	border-radius: 40px;
	margin-right: 12px;
}

.header .right {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-gap: 20%;
	font-family: Inconsolata;
}

.header .options {
	display: flex;
	gap: 32px;
	align-items: center;
	margin-left: auto;
	margin-right: 5%;
	font-weight: 700;
}

.header .buttons {
	display: flex;
	gap: 32px;
	align-items: center;
	margin-left: auto;
	margin-right: 5%;
}

.header .buttons > * {
	background: #0ea5e9;
	width: 100px;
	height: 40px;
	border-radius: 15px;
	border: none;
	color: #F0F9FF;
	font-size: 1rem;
	font-weight: 700;
}

img.notif {
	width: 30px;
	height: 30px;
}

img.profile-picture {
	width: 40px;
	height: 40px;
	border-radius: 20px;
}

.main-content {
	background: #cbd5e1;
	padding: 32px;
	display: flex;
}

.main-content > .container {
	width: 75%;
	height: 100%;
}

.main-content > .projects-container {
	padding: 32px;
}

.main-content > .container > .header {
	font-size: 1.3rem;
	font-family: Inconsolata;
	font-weight: 800;
	margin-bottom: 32px;
}

.projects-container {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	grid-gap: 32px;
	width: 95%;
	height: 90%;
}

.project {
	border-radius: 8px;
	background: #F0F9FF;
	display: flex;
	
}

.project > .content {
	display: flex;
	flex-direction: column;
	padding: 32px;
}

.project > .color {
	width: 22px;
	height: 100%;
	background: var(--orange);
	border-radius: 8px 0px 0px 8px;
}

.project > .content > .header {
	font-size: 1.1rem;
	font-weight: 700;
	margin-bottom: 8px;
}

.project > .content >  .actions > img {
	width: 30px;
	height: 30px;
}

.project > .content > .actions {
	margin-top: auto;
	margin-left: auto;
	display: flex;
	gap: 16px;
}

.main-content > .sidebar {
	width: 25%;
	margin-left: auto;
}

.top {
	height: 30%;
}

.sidebar > .top > .header {
	font-family: Inconsolata;	
	font-weight: 800;
	font-size: 1.3rem;
	margin-bottom: 16px;
	margin-left: 16px;
}

.announcement > .header {
	font-size: 1.1rem;
	font-weight: 800;
	margin-bottom: 8px;
}

.announcements-container {
	margin-left: 12px;
	padding: 32px;	
	background: #F0F9FF;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.announcements-container > .bar {
	height: 2px;
	width: 100%;
	background: #cbd5e1;
	border-radius: 1px;
	margin: 16px 0px;
}

.trending-container {
	margin-top: 250px;
	border-radius: 16px;
	height: 50%;
}

.trending-container > .header {
	font-size: 1.3rem;
	font-weight: 800;
	margin-bottom: 16px;
}

.profiles-container {
	background: #F0F9FF;
	height: 60%;
	border-radius: 16px;
	padding: 32px;
	padding-left: 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 10%;
}

.profile {
	display: flex;
	gap: 16px;
}

.profile > img {
	border-radius: 50%;
	width: 40px;
	height: 40px;
}

.profile .username {
	font-size: 1.1rem;
	font-weight: 800;
}
